/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* header class */
#header{
    display: flex;
    background-color: black;
    color: white;
    top: 0px;
    position: sticky;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
#header::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 88%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    /* top: 17px; */
    margin-top: -17px;
    justify-content: center;
}
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
/* logo and logo image styling */
#logo {
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
}
#logo img {
    height: 70px;
    width: 70px;
    margin: 15px 15px;
    border-radius :5px;
    align-items: center;
    justify-content: center;
}
/* main{
    height: 500px;
    margin: auto;
    width: 60%;
    box-shadow: 0 0 0.3 gray;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}  */
/* .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}
@media(max-width:600px){
    main{
        margin-top: -13px;
        height: 320px;
        width: 90%;
    }
} */
.container{
    margin-top: -40px;
    height: 500px;
    width: 100%;
    background-image: url("tuff.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:90% 90% ;
    animation-name: myAnim;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes myAnim{
    0%{
        background-image: url("tuff.png");
    }
    25%{
        background-image:url("technician-repairing-inside-of-mobile-phone-by-soldering-iron-integrated-circuit-the-concept-of-data-hardware-technology-free-photo.jpg") ;
    }
    50%{
        background-image: url("mobile-accessories-all-types-mobile-accessories-available.jpg");
    }
    75%{
        background-image:url("hello-iPhone-14-ad-wallpaper-by-ar72014-idownloadblog-mockup.jpg") ;
    }
}
/* Services section */
#services{
    display: flex;
    margin: 20px;
}
#services .box{
    border:2px solid brown;
    border-radius: 23px;
    background-color: rgb(226, 226, 226);
    padding: 34px;
    margin: 3px 6px;
}
#services .box img{
    display: block;
    margin: auto;
    height: 160px;
}
#services .box p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#social{
    display: flex;
    height: 150px;
    width: 700px;
    justify-content: center;
    align-items: center;
}
#social img{
    border-radius: 23px;
    height: 53px;
    margin: 10px;
}
#social a{
    text-decoration:underline;
    color: black;
}
.tag{
    margin-top: -200px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media(max-width:600px){
    #services{
        flex-direction: column;
    }
    #accessories{
        height: 200px;
        width: 200px;
    }
    section #h-primary{
        align-items: center;
        justify-content: center;
    }
    #social{
        flex-direction: row;
        height: 300px;
        width: 350px;
        margin-top: 0px;
        margin-left: 12px;
    }
    #social img{
        height: 45px;
        width: 45px;
    }
    #social a{
        margin-top: -200px;
        padding: 3px 3px;
    }
}
